body {
    margin: 0px;
    background-color: #e7ffde;
    font-family: "Roboto", sans-serif;
}
ul {
    list-style-type: none;
    padding: 0px;
}
a {
    text-decoration: none;
}
button {
    font-size: 16px;
    color: #e5f8e5;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

.header {
    height: 40px;
    padding: 5px 0px 0px 20px;
    background-color: #1f4f16;
    color: #e5f8e5;
    font-size: 24px;
    font-weight: 700;
}
.container {
    display: flex;
}
.sidebar {
    width: 15%;
    min-height: 100vh;
    margin: 0px;
    background-color: #70bf5d;
    border-right: 1px solid #1c271c;
}
.sidebar__body {
    padding-top: 50px;
}
.sidebar__item {
    padding: 5px 0px 10px 8px;
    box-shadow: 1px 1px 1px #1c271c;
    border-bottom: 1px solid #487047;
}
.sidebar__link {
    font-size: 18px;
    color: #e5f8e5;
}
.dash {
    display: flex;
    flex: 1;
    min-height: 100vh;

}
.dash__stats {
    display: flex;
}
.dash__card {
    min-width: 300px;
    height: fit-content;
    margin: 15px;
    padding: 10px;
    background-color: #70bf5d;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
}
.dash__card p {
    margin: 0px 0px 15px 0px;
    color: #e5f8e5;
    font-size: 18px;
}
.list {
    margin-top: 40px;
}


table {
  border-collapse: collapse;
  width: 1631px;
  margin: 70px auto auto auto;
}

td, th {
  border: 1px solid #90ff77;
  text-align: left;
  padding: 8px;
  color: rgba(0, 0, 0, 0.8);
}
td {
    cursor: pointer;
}

tbody tr:hover {
    background-image: linear-gradient(to right, #90ff77, #1f4f16);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.3s;
}

.create-order {
    position: absolute;
    right: 22px;
}

.create-order button {
    padding: 10px 20px;
    background-color: #70bf5d;
    font-size: 16px;
    color: #e5f8e5;
    border-radius: 8px;
    border: none;
}

.back-to-orders {
    margin: 30px 0px 0px 70px;
    height: fit-content;
}
.back-to-orders button {
    padding: 10px 30px;
    background-color: #e7ffde;
    border: 2px solid grey;
    margin-right: 5px;
    cursor: pointer;
    color: grey;
}

.update-form {
    margin: 50px auto 0px auto;
}

.update-form p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.update-form p label {
    width: 150px;
}

.update-form p input, .update-form p select, .update-form p textarea {
    flex: 1;
}

.update-form input, select, textarea{
    margin-left: 5px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #90ff77;
    border-radius: 5px;
}

.action {
    margin-top: 20px;
    margin-left: 50%;
}
.update-form__submit {
    padding: 10px 20px;
    background-color: #70bf5d;
    margin-right: 5px;
}
.update-form__reset {
    padding: 10px 24px;
    background-color: #e34234;
    margin-left: 5px
}
