{% extends 'base.html' %}

{% block content %}

<div class="dash">
    <div class="dash__stats">
        <div class="dash__card">
            <p class="">Принято:</p>
            {{ orders_accept.count }}
        </div>
        <div class="dash__card">
            <p class="">В работе:</p>
            {{ orders_in_progress.count }}
        </div>
        <div class="dash__card">
            <p class="">Готово:</p>
            {{ orders_complete.count }}
        </div>
    </div>
</div>

{% endblock %}