{% extends 'base.html' %}

{% block content %}
<div class="list">
    <table>
        <thead>
            <tr>
                <th>Брэнд</th>
                <th>Название</th>
                <th>Тип двигателя</th>
            </tr>
        </thead>
        <tbody>
            {% for engine in engines %}
                <tr>
                    <td>{{ engine.brand }}</td>
                    <td>{{ engine.title }}</td>
                    <td>{{ engine.engine_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}