{% extends 'base.html' %}

{% block content %}
<div class="list">
    <a href="{% url 'engine_create' %}" class="list__create-btn">
        <button type="button">
            Добавить двигатель
        </button>
    </a>
    <table>
        <thead>
            <tr>
                <th>Брэнд</th>
                <th>Название</th>
                <th>Тип двигателя</th>
            </tr>
        </thead>
        <tbody>
            {% for engine in engines %}
                <tr onclick="document.location = '{% url 'engine_update' pk=engine.id %}'">
                    <td>{{ engine.brand }}</td>
                    <td>{{ engine.title }}</td>
                    <td>{{ engine.engine_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}