{% extends 'base.html' %}


{% block content %}
<div class="list">
    <a href="{% url 'operation_create' %}" class="list__create-btn">
        <button type="button">
            Добавить операцию
        </button>
    </a>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Двигатель</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
                <tr onclick="document.location = '{% url 'operation_update' pk=operation.id %}'">
                    <td>{{ operation.title }}</td>
                    <td>{{ operation.category }}</td>
                    <td>{{ operation.engine }}</td>
                    <td>{{ operation.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}