{% extends 'base.html' %}


{% block content %}
<div class="list">
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Двигатель</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in operations %}
                <tr>
                    <td>{{ operation.title }}</td>
                    <td>{{ operation.category }}</td>
                    <td>{{ operation.engine }}</td>
                    <td>{{ operation.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}