{% extends 'base.html' %}


{% block content %}
<div class="list">
    <table>
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Имя заказчика</th>
                <th>Номер заказчика</th>
                <th>Двигатель</th>
                <th>Итоговая сумма</th>
                <th>Статус</th>

            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr onclick="document.location = '{% url 'order_detail' pk=order.id %}';">
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer_name }}</td>
                    <td>{{ order.customer_phone_number }}</td>
                    <td>{{ order.engine }}</td>
                    <td>{{ order.total_amount }}</td>
                    <td>{{ order.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

