<div class="sidebar">
    <nav class="sidebar__body">
        <ul class="sidebar__menu menu">
            <li class="sidebar__item">
                <a href="{% url 'dash' %}" class="sidebar__link active">Главная</a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'engine_list' %}" class="sidebar__link">Двигателя</a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'operation_list' %}" class="sidebar__link">Операции</a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'order_list' %}" class="sidebar__link">Заказ - наряд</a>
            </li>
        </ul>
    </nav>
</div>